.App {
  text-align: center;
}

.titulo-sessao{
  color: #4e3c4c;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  padding:  0 15px;
}

iframe {
  border: 0;
}

ul {
  padding-left: 0;
}